@import url('https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap');
body{
  overflow: hidden;
}
#chat-pane,#ulist-pane  {
  font-family: "Sintony", sans-serif;
  font-weight: 300;
  font-style: normal;
}
time{
font-family: Verdana, Arial, sans-serif;
}
a {
color:#a1eda4;
}
.navbar {
  margin:0px;
}
#main-page #left #input-pane {
    height: 36px;
}
#hover-box {
    z-index: 4;
}
#main-page #left {
    margin-right: 0px;
    width: calc(100% - 200px);
}
#main-sender-body {
    height: 35px;
}
#ulist-pane > p {
    width: 200px;
    text-align: center;
}
#ulist-itself {
    margin-top: 34px;
}
#ulist-room-name {
    position: fixed;
    border-bottom: 1px solid #2b2828;
    margin-bottom: 8px;
    background: black;
    height: 29px 
    width: 100%;
    padding: 5px;
}
